server:
  port: 8080
  netty:
    connection-timeout: 2s
  shutdown: graceful

# Monitoring & Metrics (Actuator)
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, circuitbreakers, ratelimiters
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true

spring:
  application:
    name: smart-api-gateway
  threads:
    virtual:
      enabled: true
  main:
    keep-alive: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 1s
      lettuce:
        pool:
          max-active: 50
          max-idle: 10
          min-idle: 2
          max-wait: 500ms
  
  cloud:
    gateway:
      routes:
        - id: catch-all
          uri: no://op  # Dummy URI, GlobalFilter overrides this dynamically
          predicates:
            - Path=/**

# Custom Application Config
app:
  gateway-config:
    global-timeout: 3s

  projects:
    smartcity:
      prefix: /smartcity
      target-url: https://smart-city-tracker-backend.onrender.com

      auth-type: JWT
      jwt-public-key: ${SMART_CITY_JWT_PUBLIC_KEY}

      public-paths:
        - /smartcity/api/auth/**
        - /smartcity/public/**
        - /smartcity/actuator/**

      rate-limit:
        capacity: 3
        refill-rate: 1

      circuit-breaker:
        failure-rate-threshold: 50
        wait-duration: 10s
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 3

      time-limiter:
        timeout: 5s
        cancel-running-future: true

    blogger:
      prefix: /blogger
      target-url: https://blogger-tqid.onrender.com

      auth-type: JWT
      jwt-secret: ${BLOGGER_JWT_SECRET}

      public-paths:
        - /blogger/auth/**
        - /blogger/public/**

      rate-limit:
        capacity: 15
        refill-rate: 8

      circuit-breaker:
        failure-rate-threshold: 50
        wait-duration: 10s
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 3

      time-limiter:
        timeout: 3s
        cancel-running-future: true

    cms:
      prefix: /cms
      target-url: http://localhost:8082

      auth-type: SESSION
      session-cookie: SESSION_ID
      csrf-required: true

      public-paths:
        - /cms/auth/login

      rate-limit:
        capacity: 5
        refill-rate: 2

      circuit-breaker:
        failure-rate-threshold: 50
        wait-duration: 10s
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 3

      time-limiter:
        timeout: 3s
        cancel-running-future: true